@import "reset.css";

body {
  background-color: rgb(253, 136, 19);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.canvas {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
}

.controls {
  margin-top: 20px;
}

.controls .controls__colors {
  display: flex;
  padding: 5px;
  border: 3px solid rgb(246, 91, 8);
  border-radius: 100px;
  background-color: rgb(250, 99, 6);
}

.controls__colors .controls__color {
  width: 45px;
  height: 40px;
  /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  border: 0.1px solid rgba(5, 5, 4, 0.582); */
  margin: 2px;
  border-radius: 25px;
  cursor: pointer;
}
