/* style.css */

@import "reset.css";

body {
  background-color: rgb(253, 136, 19);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#jsCanvas {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.068);
  margin-top: 20px;
  cursor: crosshair; /* 마우스 모양을 십자 모양(crosshair)으로 변경 */
}

.controls {
  margin-top: 20px;
  width: 450px;
}

.controls__colors {
  display: flex;
  padding: 5px;
  border: 3px solid rgb(246, 91, 8);
  border-radius: 100px;
  background-color: rgb(250, 99, 6);
  justify-content: center;
}

.controls__color {
  width: 45px;
  height: 40px;
  margin: 2px;
  border-radius: 25px;
  cursor: pointer;
}

/* controls__colors 내의 input 요소에 대한 스타일 추가 */
.controls__colors input {
  width: 100%; /* input 요소가 부모 너비를 가득 채우도록 함 */
  height: 100%;
  opacity: 0; /* 실제로 보이지 않도록 함 */
  position: absolute; /* 다른 요소 위에 겹쳐지도록 함 */
  cursor: pointer; /* 커서를 포인터로 변경 */
}
.controls__range_fill_save {
  display: flex;
  justify-content: center;
  margin: 10px;

  align-items: center;
}
.controls__range__input {
  -webkit-appearance: none; /* 크롬, 사파리 등 웹킷 기반 브라우저에서 기본 스타일 제거 */
  width: 200px; /* 너비 조절 */
  height: 25px; /* 높이 조절 */
  background: rgb(222, 162, 11); /* 배경색 */
  border-radius: 20px; /* 모서리를 둥글게 */
  outline: none; /* 포커스 시 발생하는 테두리 제거 */
  padding: 0px 10px; /* 내부 여백 제거 */
}

.controls__range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -1.5%;
  width: 5px; /* 슬라이더 버튼의 너비 */
  height: 160%; /* 슬라이더 버튼의 높이 */
  background: #333; /* 슬라이더 버튼의 배경색 */
  border-radius: 2px; /* 슬라이더 버튼의 모서리를 둥글게 */

  cursor: pointer; /* 커서를 포인터로 변경 */
}

.controls__range__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 40%;
  background: #ddd; /* 트랙의 배경색 */
  border-radius: 5px; /* 트랙의 모서리 둥글게 */
}

.controls__size {
  display: flex;
  margin-top: 10px;

  align-items: center;
  justify-content: center;
}

.controls__size input {
  margin: 5px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  text-align: right;
}

#applySize {
  background-color: rgb(219, 219, 219);
  color: black;
  border: 2px;

  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  width: 50px;
  border-radius: 5px;
  border: 2px solid rgb(246, 91, 8);
}

.controls__button {
  background-color: rgb(246, 91, 8);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.controls__button:hover {
  background-color: rgb(250, 99, 6);
}

.controls__mode {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.controls__mode #jsMode {
  margin-right: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: rgb(246, 91, 8);
  color: white;
  border: none;
  border-radius: 5px;
}

.controls__mode #jsMode:hover {
  background-color: rgb(250, 99, 6);
}
